.todo-item:hover .actions{
    opacity:1;
}
.todo-item.actions{
    margin-left: auto;
    opacity: 0;
    transform: all .2s;
}
.todo-item.inpute {
    flex: 1;
    margin-right: 1rem;
}
.todo-item.completed.title,
.todo-item.completed{
    text-decoration: line-through;

}
.todo-item.checkbox{
    margin-right: .25em;
}
.todo-item{
    padding:  1em;
    display: flex;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(-10deg, rgb(225, 236, 236) 0%, #9c95da 40%, #96b1d8 53%, #a8ccae 100%);
    
}


.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #853e3e;
    border-radius: 0.6em;
    color:  #853e3e;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
    .btn:hover {
        color: #fff;
        outline: 0;
      }

      .btn:focus{
        color: #fff;
        outline: 0;
      }
      
  


  .first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;}
    .first:hover {
      box-shadow: 0 0 40px 40px #853e3e inset;
    }

    .second {
        border-radius: 3em;
        border-color: #1abc9c;
        color: #fff;
        background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
        background-position: 0 0;
        background-size: 100%;
        transition: background 300ms ease-in-out;
      }
      .second:hover {
        background-position: 100px;
      }
   
  